$WT_blue: #26B2DB
$AJT_green: #4DC32B
$AJT_darkblue: #002C4E

#heroSpace
  justify-content: left
  text-align: left
  margin-top: 44vh
  margin-left: 10vw
  height: 50vh

  #payoff
    font-size: 4em
    color: white
    #firstline
      flex-direction: row
    #bluetext
      color: $WT_blue !important

  #heroContent
    width: 48vw
    font-size: 16px
    line-height: 24px
    color: white !important

  #memberButton
    padding: 20px 40px
    margin-top: 20px
    background-color: $AJT_green !important
    color: $AJT_darkblue
    border: none
